<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->   
<html lang="en"> 
<!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />  <!-- Force Latest IE rendering engine -->
    <title>{{ page.title }}</title>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

        <!-- syntax highlighting CSS -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-43018811-1', 'wmtylerdavis.com');
            ga('send', 'pageview');
        </script>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'> 
        <link rel="shortcut icon" href="/static/images/favicon.png" />

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 

        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
    <div class="container"> 
      <header class="group">
        <div class="header-inner">
          <section>
            <h1 class="avatar"><a id="avatar" href="/"></a></h1>
            <h2> Tyler Davis likes to code</h2>
          </secion>
        </div>
        <nav class="main-nav">
          <ul>
            <li><a href="http://github.com/wmtylerdavis">octocat</a></li>
            <li><a href="/resume">résumé</a></li>
            <li><a href="/blog">blog</a></li>
            <li><a href="/projects">projects</a></li>
          </ul>
        </nav>
      </header>
      {{ content }}
      <footer class="ten columns">
        <p id='fork'> You can
          <a href="http://github.com/wmtylerdavis">fork</a>, <a href="http://twitter.com/wmtylerdavis">tweet</a>, or <a href="mailto:williamtylerdavis@gmail.com?subject=blog">email</a> me.
        </p>
    </footer>
  </div>
  </body>
</html>
